<div class="footer w-full bg-black">
    <div class="mailing w-3/4 m-auto flex flex-col py-6 items-center">
        <div class="mailing-title">
            <p class="text-xs text-white py-3">
                Join our mailing list and never miss an update
            </p>
        </div>
        <div class="mailing-form w-full flex">
            <input class="w-full" type="email" />
            <button mat-flat-button class="w-48 ml-2 !bg-white">
                Subscribe Now
            </button>
        </div>
    </div>
    <div class="bg-gray-300 text-center">
        <p class="text-xs">© 2022 Site by BryVolodymyr</p>
    </div>
</div>
